<a href="https://colab.research.google.com/github/KathyJosephAlexander/business-analytics-with-python/blob/main/python_tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=input('enter first number')

enter first number45

In [2]:
y=input('enter second number')

enter second number80

In [3]:
a=x+y

In [9]:
print (int(x)+int(y))

125

In [10]:
x=int(input('enter first number'))

enter first number90

In [11]:
y= int(input('enter second number'))

enter second number99

In [12]:
print(x+y)

189

In [14]:
p=int(input('enter the principle amt'))

enter the principle amt1000

In [19]:
r=int(input('enter the rate'))

enter the rate2

In [20]:
r=int(input('enter the time'))

enter the time5

In [21]:
x=p*r*t/100

In [24]:
print(x)

250.0

In [30]:
x=int(input('enter your banking marks'))
if x>=50:
  print('pass')
else :
    print('fail')

enter your banking marks69
pass

In [41]:
x=int(input('enter your salary'))
if x>= 50000 :
  print('your taxable')
if x<50000:
  print('your not taxable')

enter your salary300000
your taxable

In [42]:
x=int(input('enter your salary'))
if x> 500000 :
  print('your taxable')
else:
  print('not taxable')
y=x*10/100
print(y)

enter your salary400000
not taxable
40000.0

In [43]:
x=int(input('enter your salary'))
if x <250000:
    print('your taxable')
elif x <500000:
  print(x-250000*10/100)

enter your salary100000
your taxable